.Cards {
    /* border: 1px solid red; */
    margin: 100px 20px;
    transition: all 0.2s ease-in-out;
}

.Cards:nth-child(odd) {
    transform: rotate(3deg);
}

.Cards:hover {
    cursor: pointer;
    transform: rotate(0deg);
}

.Cards:active {
    transform: translateY(10px);
}


@media (pointer: coarse) {

    .Cards:active {
        transform: translateY(10px);
    }

}