.Footer {
  position: absolute;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 60px;
  bottom: 0;
  left: 0;
  right: 0;
}
.darkFooter {
  background-color: transparent;
}
.lightFooter {
  background-color: transparent;
}

.link {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 425px) {
  .Footer {
    flex-direction: column;
    justify-content: space-between;
    height: 70px;
  }
}
