@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* app */
.App {
  /* border: 1px solid red; */
  width: 100%;
  height: max-content;
  display: flex;
  background-color: rgb(202, 200, 200);
}

/* ContentPage */
.ContentPage {
  /* border: 1px solid blue; */
  width: 100vw;
  height: max-content;
  background-image: linear-gradient(-225deg, #5271C4 0%, #B19FFF 48%, #ECA1FE 100%);
}

*::-webkit-scrollbar {
  display: none;
}